{% load staticfiles %}

<html class="mdl-js" lang="en">

<head>
    <!-- Meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on dailydonate.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <!-- Website Title  -->
    <title>Daily Donate</title>
    <!-- Important Scripts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://code.getmdl.io/1.1.3/material.min.css" rel="stylesheet">
    
       <link rel="stylesheet" type="text/css" href="{% static 'home/stylesheet.css' %}" />
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <div class="dailydonate-header mdl-layout__header">
            <div class="dailydonate-header-row mdl-layout__header-row">
                <div class="dailydonate-navigation-container-left mdl-navigation-container--align-left">
                    <nav class="dailydonate-navigation mdl-navigation--align-left">
                        <a class="mdl-navigation__link mdl-typography" href="">Home</a>
                        <a class="mdl-navigation__link mdl-typography" href="">Search</a>
                        
                    </nav>
                </div>
                <div class="dailydonate-navigation-container-title mdl-navigation-container">
                    <nav class="dailydonate-navigation mdl-navigation">
                        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">DAILYDONATE</a>
                    </nav>
                </div>
                
                
                    
                <div class="mdl-layout-spacer"></div>
                <div class="dailydonate-navigation-container-right">
                    <nav class="dailydonate-navigation mdl-navigation">
                        <a class="mdl-navigation__link mdl-typography" href="">About</a>
                        <a class="mdl-navigation__link mdl-typography" href="">Login</a>
                        <a class="mdl-navigation__link mdl-typography" href="">Signup</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <main class="mdl-layout__content">
        <div class="page-content">
            <!-- Your content goes here -->
        </div>
    </main>
    </div>
</body>

</html>